.account-nav.vertical {
    padding: 0 .53333rem;
}


.account-nav {
    margin: .26667rem 0;
    background-color: #fff;
}
.account-nav.vertical a {
    width: 100%;
    padding: .4rem 0;
    line-height: 3.53333rem;
    text-align: left;
    border: 0;
}


.account-nav a {
    position: relative;
    display: block;
    float: left;
    width: 25%;
    padding: .53333rem 0;
    font-size: .4rem;
    line-height: .66667rem;
    color: #31434b;
    text-align: center;
}
.account-nav .nav-large-icon.icon-1 {
    background-position: 1px -2px;
}

.account-nav.vertical .nav-large-icon {
    margin-top: 1.08rem;
    margin-right: .13333rem;
}

.account-nav .nav-large-icon {
    display: inline-block;
    vertical-align: top;
    width: 2.8rem;
    height: 1.9rem;
    background-image: url(https://file.duoying.com:8092/src/mobile/member/account/img/nav-large-icons.png);
    background-size: 2.8rem 6.4rem;
}
.account-nav.vertical a:after {
    content: "";
    position: absolute;
    top: 23%;
    right: 0;
    display: block;
    width: 1rem;
    height: 2rem;
    background-image: url(https://file.duoying.com:8092/src/mobile/member/account/img/arrow.png);
    -webkit-background-size: cover;
    background-size: cover;
}
.pull-left {
    float: left;
}
.account-nav {
    margin: .26667rem 0;
    background-color: #fff;
}
.account-nav a {
    position: relative;
    display: block;
    float: left;
    width: 25%;
    padding: 1.3333rem 0;
    font-size: 1.4rem;
    line-height: 1.66667rem;
    color: #31434b;
    text-align: center;
}
.account-nav .nav-icon.icon-1 {
    background-position: 0 1px;
}

.account-nav .nav-icon {
    display: inline-block;
    vertical-align: top;
    width: 2.66667rem;
    height: 2.36667rem;
    background-image: url(https://file.duoying.com:8092/src/mobile/member/account/img/nav-icons.png);
    background-size: 2.66667rem 17.33333rem;
}
.account-nav a .num {
    position: absolute;
    top: .13333rem;
    right: .13333rem;
    display: block;
    padding: 0 .13333rem;
    line-height: 1.42667rem;
    font-size: 1.32rem;
    color: #fff;
    background: red;
    -webkit-border-radius: .13333rem;
    border-radius: .13333rem;
}